*{
    margin: 0; 
    padding: 0;
    box-sizing: 0;
}

:root{
   --main-color : steelblue;
   --another-color: lightblue; 
   --font-color: black; 
   --border-measure: 1px solid black;
   --width-image-measure: 150px;
   --height-image-measure: auto;
}
main{
    max-width: 700px;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a{
    color : white;
    display : block;
    padding : 20px;
}

h1{
    color : var(--main-color) ;
}

main img{
    display:block;
    float: right;
    width: var(--width-image-measure);
    margin: 0 0 10px 10px;
    height: var(--height-image-measure);
    border: var(--border-measure);
    padding: 2px;
    box-shadow: 0 0 20px grey;
    
}

p{
    padding: 0;
}

aside{
    width: 200px;
    margin: 15px;
    border: 1px solid rgb(130, 152, 218);
    padding: 15px;
    background-color: var(--another-color);
    color: var(--font-color);
    text-align: center;
}
aside img{
    width: var(--width-image-measure);
    height: var(--height-image-measure);
}

aside h2{
    position: relative;
    font-size: 1.2rem;       
    color: white;
    top: 90px;        
    text-align: center;      
    font-weight: bold;       
}

footer{
    margin-top: 15px;
    border-top: var(--border-measure);
    text-align: center;
}

/* Class Selectors*/
.box{
    margin: 1rem;
    border: 1px solid rgb(130, 152, 218);
    padding: 1rem;
    background-color: var(--another-color);
    color: var(--font-color);
}

.indent{
    margin-left: 2rem;
}