:root{
   --main-color : steelblue;
   --border-measure: 1px solid black;
   --width-image-measure: 150px;
   --height-image-measure: auto;
}
main{
    max-width: 850px;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a{
    color : white;
    display : block;
    padding : 20px;
}

h1{
    color : var(--main-color) ;
}

main img{
    width: var(--width-image-measure);
    height: var(--height-image-measure);
    border: var(--border-measure);
    padding: 2px;
    box-shadow: 0 0 20px grey;
}

p{
    padding: 0;
}

aside{
    width: 200px;
    margin: 15px;
    border: 1px solid rgb(130, 152, 218);
    padding: 15px;
    background-color: lightblue;
    color: black;
    text-align: center;
}
aside img{
    width: var(--width-image-measure);
    height: var(--height-image-measure);
}

footer{
    margin-top: 15px;
    border-top: var(--border-measure);
    text-align: center;
}

