*{
    margin: 0; 
    padding: 0;
    box-sizing: 0;
}

:root{
   --main-color : steelblue;
   --another-color: lightblue; 
   --font-color: black; 
   --border-measure: 1px solid black;
   --width-image-measure: 210px;
   --height-image-measure: auto;
}

main{
    grid-column: 2/3;
    margin: 0.8rem;
}


header, .grid, footer{
    max-width: 840 px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

nav a{
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.2 rem;
    color: white;
    text-decoration: none;
}

h1{
    color : var(--main-color) ;
    border-bottom: 1px solid black;
    margin: 5px;
    padding-bottom: 5px;
}

main img{
    display:block;
    float: right;
    width: var(--width-image-measure);
    margin: 0 0 10px 10px;
    height: var(--height-image-measure);
    border: var(--border-measure);
    padding: 5px;
    box-shadow: 0 0 10px grey;
    
}

p{
    padding: 0;
    margin: 1rem;
}

aside{
    width: 20rem;
    position: relative;
    margin: 1rem;
    border: 1px solid rgb(130, 152, 218);
    padding: 15px;
    background-color: var(--another-color);
    color: var(--font-color);
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img{
    width: var(--width-image-measure);
    height: var(--height-image-measure);
}

aside h2{
    position: relative;
    font-size: 1.2rem;       
    color: white;
    top: 90px;        
    text-align: center;      
    font-weight: bold;       
}

footer{
    margin-top: 15px;
    border-top: var(--border-measure);
    text-align: center;
}

/* Class Selectors*/
.box{
    margin: 1rem;
    border: 1.5px solid rgb(130, 152, 218);
    padding: 1.5rem;
    background-color: var(--another-color);
    color: var(--font-color);
    text-align: left;
    width: 1043px;
}

.indent{
    margin-left: 0.3rem;
}